@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Circular Std Book';
    src: url('/fonts/CircularStd-Book.otf');
}

@font-face {
    font-family: 'Circular Std Book Italic';
    src: url('/fonts/CircularStd-BookItalic.otf');
}

@font-face {
    font-family: 'Circular Std Medium';
    src: url('/fonts/CircularStd-Medium.otf');
}

@font-face {
    font-family: 'Circular Std Bold';
    src: url('/fonts/CircularStd-Bold.otf');
}

/*Gilroy fonts*/
@font-face {
    font-family: 'Gilroy Bold';
    src: url('/fonts/Gilroy-Bold.ttf');
}


body {
    overflow-x: hidden;
    color: #2c3d46;
    font-family: 'Circular Std Book', sans-serif;
}

img{
    max-width: 100%;
}